<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="metadata" name="CalculatorServiceLibrary.CalculatorService">
        <endpoint address="http://localhost:8794/user" binding="basicHttpBinding" contract="CalculatorServiceLibrary.ICalculatorService"></endpoint>
        <endpoint bindingConfiguration="tcpnotsecure2" address="net.tcp://localhost:4879/user" binding="netTcpBinding" contract="CalculatorServiceLibrary.ICalculatorService"></endpoint>
        <endpoint bindingConfiguration="tcptextsecureless2" address="net.tcp://localhost:9497/user" binding="customBinding" contract="CalculatorServiceLibrary.ICalculatorService"></endpoint>
        <endpoint address="http://localhost:8794/user/mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8794/user/meta" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="tcptextsecureless2">
          <textMessageEncoding></textMessageEncoding>
          <tcpTransport></tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="tcpnotsecure2">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>